<%- include('header'); -%>


<h2>This is About Page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In sit sed eum blanditiis sint ratione dolor voluptatibus culpa odio, facilis natus, tempore qui!</p>

<%- include('footer'); -%>